@import "../../../styles/variables.module.scss";

.loginButtonDiv {
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0rem;
    margin-top: 1.5rem;
}

.loginPopover {
    background-color: $dark;
    width: 20rem;
}

.loginHeader{
    background-color: $secondary;
    color: $light;
}

.syncToast {
    display: flex;
    align-items: center;
}
.errorAlert {
    margin-bottom: 0;
}

.forgotPasswordDiv {
    color: $dark;
    cursor: pointer;
}