@import "../../../styles/variables.module.scss";

.loginButtonDiv {
    display: flex;
    
    justify-content: right;
    align-items: center;
    margin-bottom: 0.5rem;
}

.loginPopover {
    background-color: $dark;
}

.loginHeader{
    background-color: $secondary;
    color: $light;
}

.errorAlert {
    margin-bottom: 0;
}