@import '/styles/variables.module.scss';


$transition-time: 300ms;

.AuthDiv {
    display: flex;
    flex-direction: row;
    justify-content: right;
    width: 100%;
    // margin-bottom: 2rem;
    // margin-top: 1.5rem;
}

.createAccountButton {
    margin: 0 1rem;
}


.container {
    
    
    // display: flex;
    // justify-content: center;
    // align-items: center;
    transition: all $transition-time ease-in-out;

    @media (max-width: $breakpoint) {
        
    }

}

.navBox {
    margin: 1rem auto;
    border-radius: 0.25rem;
    box-shadow: 0.25rem .20rem 0.35rem $secondary;
    display: flex;
    justify-content: center;
    transition: all $transition-time ease-in-out;
    height: fit-content;
    // transition: position  ease-in-out;
    width: 80%;
    position: -webkit-sticky;
    position: sticky;
    top: -1px;

    @media (max-width: $breakpoint) {
        border-radius: 0;
        box-shadow: 0px .10rem 0.25rem $secondary;
        // position: fixed;
        top: 0;

        margin: 0;
        margin-bottom: 0.5rem;
        width: 100%;
        height: 4rem;
    }
}

.innerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: inherit;
    margin: 0 auto ;
    padding: 0 0.5rem;
    width: 100%;
    transition: all $transition-time ease-in-out;
    // box-shadow: 0 transparent;

    @media (max-width: $breakpoint) {
        margin: 0;
        padding: 0 0.5rem 0.5rem;
        background-color: $dark;
        // box-shadow: 0px .10rem 0.45rem $secondary;
    }
}

.brand {
    cursor: pointer;

    padding-left: 1rem;
    transition: all 50ms ease-in-out;

    @media (max-width: $breakpoint) {
        padding-left: 0.5rem;
    }

    &:hover {
        transform: scale(1.04);
    }

    &:active {
        transform: scale(1.01);
    }
}

.brandImg {
    margin-right: 0.1rem;
    border-radius: 0.1rem;
}

.toggle {
    @media (max-width: map-get($grid-breakpoints, sm)) {
        margin-right: 0.5rem;
    }

}

.textLinksDiv {
    align-items: center;
    white-space: nowrap;
    justify-content: left;

    @media (max-width: $breakpoint) {
        align-items: start;
        padding-left: 0.5rem;
    }
}