
@import 'variables.module.scss';
.container {
    // padding: 0s 2rem;
    // height: max-content;
    // padding-top: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .main {
    height: 100%;
    padding: 0 0 2rem ;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .divider {
    width: 60%;
    @media (max-width: $breakpoint) {
        width: 100%;
    }
}
  .grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1800px;
    transition: all 200ms ease-in-out;
  }
  @media (max-width: $breakpoint) {
    .grid {
      width: 100%;
      flex-direction: column;
    }
  }
  
  .card {
    margin: 1rem;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    max-width: 300px;
    min-width: 14rem;
    cursor: pointer;
    &:hover,
    &:focus,
    &:active {
        color: #0070f3;
        border-color: #0070f3;
    }
    h2 {
        margin: 0 0 1rem 0;
        font-size: 1.5rem;
    }
    p {
        margin: 0;
      //   font-size: 1.25rem;'
        font-size: small;
        line-height: 1.5;
      }
  }


  .cardDanger {
      @extend .card;
      border: 1px solid $danger;
      &:hover,
      &:focus,
      &:active {
          color: $danger;
          border-color: $danger;
      }
  }

  
.formContainer {
    background-color: $dark;
    color: $text-light;
    opacity: 0.95;
    border-radius: .2rem ;
    width: 30rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
    box-shadow: 0.14rem 0.25rem 0.25rem $secondary;
    

    @media (max-width: $breakpoint) {
        width: 100%;
    }
    @media (min-width: $breakpoint) {
        margin-bottom: 1rem;
        
    }
}
.formTitle {
    color: $light;
    padding-left: 7%;
    padding-top: 2rem;
    padding-bottom: 1rem;
    font-size: 24px;
    box-shadow: 3px, 1px, 1px black;

}
.formSectionTitle {
    display: flex;
    width: 100%;
    padding-left: 2rem;
    margin: 0.5rem 0 0.25rem;
    font-size: larger;
}
.formInteractionContainer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 1.5rem 2rem 3rem;
    align-items: center;
}