@use "variables.module.scss";
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    height: 100vh;
}
.backText {
    color: variables.$light;
    &:hover {
        cursor: pointer;
    }
}
.createAccountForm {
    background-color: variables.$dark;
    opacity: 0.95;
    border-radius: .2rem ;
    width: 30rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
    box-shadow: 0.14rem 0.25rem 0.25rem variables.$secondary;
}
.form {
    padding-left: 3rem;
}
.header {
    width: 100%;
    padding-left: 5rem;
    display: flex;
    justify-content: left;
    align-items: center;
}
.backButton {
    margin: 2rem;

}
.title {
    color: variables.$light;
    padding-left: 7%;
    padding-top: 2rem;
    font-size: 24px;
    box-shadow: 3px, 1px, 1px black;
}
.loadingTitle {
    display: flex;
    justify-content: space-between;
}
.loadingSpinner {
    margin-right: 5rem;
}
.submitButton {
    // background-color: $primary;
    width: fit-content;
    height: 3rem;
    padding: 0 2rem;
    
}

.interactionContainer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 1.5rem 2rem 3rem;
    align-items: center;
}


.text{
    color: variables.$light;
    margin: 0.5rem 3.5rem 0;

    font-size:medium;
}
.returnHome{
    background-color: variables.$success;
    border: 0px black ;
    border-radius: 0.25rem;
    box-shadow: 3px 2px 2px rgba(59, 44, 44, 0.405);
    transition: 200ms ease-in-out;
    &:hover {
        scale: 1.05;
        box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.305);
        cursor: pointer;
    }
   
}
