@import "~bootstrap/scss/functions";
// @use "sass:map";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";


$breakpoint: map-get($grid-breakpoints, md );

$text-dark: $dark;
$text-light: $light;
$transition-time: 300ms;
:export {
    breakpoint: $breakpoint;
    base-transition-time: $transition-time;
}
// /* make the customizations */
// $theme-colors: (
//     "info": tomato,
//     "danger": teal
// );

// /* import bootstrap to set changes */
// @import "~bootstrap/scss/bootstrap";