@import '/styles/components.module.scss';
@import '/styles/variables.module.scss';



.pointList{
    margin-bottom: 1rem;
}
.pointContainer {
    // width: 100%;
    width: 75%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // margin: 0.5rem 3rem;
    padding: 0.25rem 3rem;
    border: $light 1px solid;

    border-radius: 5px;
}

.dateHeader {
    margin: 0.5rem;
}
.ruleName {
    font-size: larger;
}